@model int
@{
    string count;
    if (Model < 1000) count = Model.ToString();
    else count = Math.Round(Model / 1000D, 1).ToString() + "K";
}

<span class="badge text-bg-secondary align-middle" style="font-size:small; font-weight:700; min-width:55px">
    <img src="~/icons/thumb white full.svg" aria-label="Likes" style="max-width:15px; max-height:15px;">
    @count
</span>
