@model IEnumerable<Review>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@foreach (var review in Model)
{
    <tr>
        <td>
            <a asp-controller="Review" asp-action="Index" asp-route-id="@review.Id">
                @await Html.PartialAsync("ReviewCardPartial", review)
            </a>
        </td>
    </tr>
}
