@model Review
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = @Localizer["Add review"];
}

<div class="container-fluid mb-5">
    <form asp-action="NewReview">
        <div class="row g-2 mb-3">
            <div class="col-md-3">
                <button class="btn btn-primary w-100" type="button" onclick="updateProductsModal('')" data-bs-toggle="modal" data-bs-target="#productsModal">Select product</button>
            </div>
            <div class="col-md">
                <input class="form-control" placeholder="Product title" id="titleProd" readonly>
            </div>
            <div class="col-md-2">
                <input class="form-control" placeholder="Product type" id="typeProd" readonly>
            </div>
            <div class="col-md-2">
                <input class="form-control" placeholder="Release year" id="releaseProd" readonly>
            </div>
        </div>
        <hr />
        @await Html.PartialAsync("EditReviewPartial")
    </form>
</div>

<div class="modal fade" id="productsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Select product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input id="searchProductsModal" class="form-control" placeholder="Search" onkeyup="updateProductsModal()" />
                        <label class="form-label">Search</label>
                    </div>
                </div>
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th class="col-1" scope="col">Type</th>
                            <th scope="col">Title</th>
                            <th class="col-1" scope="col">Release</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyProductsModal">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addProductModal">Add new product</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addProductModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Add product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("AddProductForm", new Product())
            </div>
        </div>
    </div>
</div>