@model IEnumerable<Review>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = @Localizer["My page"];
}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <a type="button" class="btn btn-primary" asp-action="EditReview">@Localizer["Write a review"]</a>
        </div>
    </div>
    <hr />
    <h5>My reviews</h5>
    <div class="row">
        <table class="table table-striped table-hover align-middle">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Product</th>
                    <th scope="col">Score</th>
                    <th scope="col">Published</th>
                </tr>
            </thead>
            <tbody id="tbodyReviews">
                @await Html.PartialAsync("ReviewsTableBody")
            </tbody>
        </table>
    </div>
</div>
