@model Movie
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["Add movie"];
}

<div class="container-fluid">
    <h2>Movie</h2>
    <form asp-action="AddMovie" class="mb-5">
        <div class="row g-2 mb-2">
            <div class="col-md-6 form-floating">
                <input asp-for=Title class="form-control" type="text" placeholder="Title" required />
                <label asp-for="Title" class="form-label">Title</label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-md-2 form-floating">
                <input asp-for=ReleaseYear class="form-control" type="number" min="0" placeholder="Release year" required />
                <label asp-for="ReleaseYear" class="form-label">Release year</label>
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>
            <div class="col-md form-floating">
                <input id="linkToTrailer" asp-for=Trailer class="form-control" type="text" placeholder="Link to YouTube trailer" onchange="showTrailer()"/>
                <label asp-for="Trailer" class="form-label">Link to YouTube trailer</label>
                <span asp-validation-for="Trailer" class="text-danger"></span>
            </div>
        </div>
        <div class="row g-2 mb-2">
            <input asp-for="Cover" id="coverAspInput" hidden required />
            <div class="col-md-3">
                <div class="file-drop-area mb-2" style="width:100%; height:100%" onclick="clickCoverInput()" ondrop="dropCoverInput(event);" ondragover="dragOverHandler(event);">
                    <div class="col text-center">
                        <div id="uplIcon" class="row justify-content-center mt-4">
                            <img src="~/icons/upload.svg" style="max-width:70px;max-height:70px" />
                        </div>
                        <div id="uplText" class="row text-center">
                            <h6>Upload cover</h6>
                        </div>
                        <div id="spinner" class="row justify-content-center" hidden>
                            <div class="spinner-border text-warning " role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <img id="coverImg" style="width:100%; height:100%" hidden />
                        <input id="coverInput" style="height:1px;width:1px" class="file-input" type="file" accept=".jpg, .jpeg, .png" onchange="setCover()" required>
                    </div>
                </div>
            </div>
            <div class="col-md-9" id="divTrailer" hidden>
                <div class="ratio ratio-16x9"> <iframe id="iframeTrailer" src="" allowfullscreen="allowfullscreen"></iframe></div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <textarea asp-for=Description class="form-control" rows="5" placeholder="Description" required>@Model.Description</textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
        <button class="btn btn-primary float-end" type="submit" style="min-width:100px">Add movie</button>
    </form>
</div>
