@model IEnumerable<Product>
@if (Model.Count() != 6) throw new Exception("Unexpected count of elements");

<div class="col-md">
    @await Html.PartialAsync("BestProductsCol", Model.Take(3))
</div>
<div class="col-md">
    @await Html.PartialAsync("BestProductsCol", Model.TakeLast(3))
</div>
