@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer
@model string
@{
    ViewData["Title"] = @Localizer["Home Page"];
    var tags = "21,47,36,24,28,39,57";
}

<script src="//cdn.amcharts.com/lib/4/core.js"></script>
<script src="//cdn.amcharts.com/lib/4/charts.js"></script>
<script src="//cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
<script src="//cdn.amcharts.com/lib/4/themes/animated.js"></script>
<div id="chartdiv" style="height:300px"></div>

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <p>@Model</p>
</div>


<script>
    var t = String('@tags');
    var weights = String('@tags');
    initTagCloud(t, weights);
</script>
