@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Sign in";
}

<h2 id="external-login-title">Failed to sign in with @Model.ProviderDisplayName.</h2>
<hr />

<p>
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    Back to <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Sign in</a>
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
