@page
@using RecomField;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer
@model ExternalLoginModel
@{
    ViewData["Title"] = Localizer["Sign in"];
}

<h2 id="external-login-title">@Localizer["Failed to sign in with"] @Model.ProviderDisplayName.</h2>
<hr />

<p>
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <a class="text-decoration-none" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">@Localizer["Back to sign in"]</a>
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
